@import url(https://fonts.googleapis.com/css?family=Poiret+One);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Poiret One', helvetica, sans-serif;
}
canvas {
	width: 100%;
	height: 100%;
	/*border: 5px solid rgba(35, 128, 78, 1);*/
}

#body{
	background:rgba(35, 128, 78, 0.7);
	position:relative;
	top:0;
	left:0;
	display: block;
	width:100%;
	height:100vh;
	padding-top:100px;
	
}

#body::after{
	content: "";
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity:.4;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index: -1;

}

#gameIntro {
	text-align:center;
	background: rgba(35, 128, 78, 0.5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width:600px;
	height:500px;
	color: white;
	margin: 0 auto;
	margin-top:0px;
	padding:20px;
	letter-spacing: 1px;

}

#gameIntro p {
	text-align:left;
	padding: 0 28px;
}

#gameIntro h1 {
	color:#66FF99;
	font-size:40px;
	margin-top:5px;
}

#gameIntro h3{
	font-size:25px;
	float:none;
	margin:0;
	margin-bottom:20px;
}

#gameIntro button{
	background:#FC9549;
	padding: 20px;
	font-size:20px;
	border: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top:0px;
	box-shadow: 5px 5px #C45B0E;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

#gameIntro button a {
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight:normal;

}

#gameIntro button:hover {
	background: #FC7B32;
	box-shadow: inset 2px 2px #C45B0E,
	2px 2px #C45B0E;
	cursor:pointer;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}



#pickUp {
	font-family: 'Poiret One', helvetica, sans-serif;
	font-size: 15px;
	padding:10px;
	margin: 0 auto;
	margin-right:100px;
	margin-top:10px;
	width:500px;
	height:40px;
	color:white;
	bottom:10px;
	text-align:center;
	background: rgba(35, 128, 78, 0.7);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}


footer {
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	margin: 0 auto;
	height: 60px;
	background: rgba(35, 128, 78, 0.5);
}

h3 {
	color: white;
	letter-spacing: 1.5px;
	font-family: 'Poiret One', helvetica, sans-serif;
	margin-left: 100px;
	float:left;
}

.hidden_1, .hidden_2, .hidden_3, .hidden_4{
	width:50px;
	margin-left: 20px;
	margin-top:10px;
	opacity: .7;
	display: none;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.hidden_1:hover, .hidden_2:hover, .hidden_3:hover, .hidden_4:hover {
	opacity: 1;
	width:100px;
	margin-top:-40px;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;

}

#parts {
	float: left;
}

.hidden{
	display: none;
}

.show {
	display: block;
}

.showPart {
	display: inline;
}



.icon {
	float:left;
	background: url("../images/sparepart_icon.png");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width:50px;
	height:50px;
	margin-top:10px;
	margin-left:20px;
	cursor: pointer;
}

.counter {
	margin: 0 auto;
	text-align: center;
	margin-top:-5px;
	width:18px;
	height:18px;
	margin-left:35px;
	background: #dd3150;
	color: white;
	font-family: helvetica, sans-serif;
	font-size:10px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

#counter{
	padding-top:2px;
}

#fps {
	color: red;
}

#preload {
	position: fixed;
	margin-top: 9999px;
	margin-left: 9999px;
}
